.line-bottom {
  border-bottom: 1.5px solid #D4D4D4;
}
.card-btn{
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 100px;
  height: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}